/*reset*/
html, body {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-family: 'Nanum Barun Gothic', sans-serif !important;
}

pre {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: helvetica neue, helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.025em;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  /*required for IE/Edge to be compatible with left:50vw & transform:translate(-50%, 0),
  otherwise there is a phantom div on the right side of the screen (from the left:50vw),
  that the window will scroll to*/
  overflow-x: hidden;
}

.page-not-found {
  height: 300px;
  font-size: 30px;
  text-weight: 100;
  text-align: center;
  padding-top: 200px;
}

.small-alert-text {
  font-size: 13px;
  font-weight: 100;
  font-style: italic;
}
.algo-container {
  padding: 20px;
  .app-bar {
    height: 40px !important;
    cursor: pointer;
    h1 {
      font-size: 20px !important;
      height: 40px !important;
      line-height: 40px !important;
      font-weight: 200 !important;
    }
  }
  .algo-option {
    padding-bottom: 20px;
    .button-run {
      display: inline-block;
    }
  }
  .algo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0 ,0 , 0.5);
    font-size: 50px;
    color: #FFF;
    .algo-overlay-contents {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        text-align: center;
    }
  }
  ._paper {
    margin: 15px 0;
  }

  .chip {    
    display: inline-block !important;
    margin: 5px !important;
    color: rgb(0, 188, 214);
  }
}

.hide {
  transition: opacity 1s ease-out;
  opacity: 0;
  display: none;
}

.hanoiContainer {
}

.canvas-wrapper {
  padding: 30px 0;
  .konvajs-content {
      width: 100% !important;
      /*height: 300px !important;*/
      /*padding-bottom: 75%;*/
      canvas {
          width: 100% !important;
          height: 100% !important;
      }
  }
}

span[type=button], a[type=button], div[type=button]{
  -webkit-appearance: none;
  appearance: none;
}
