.sudoku-table {
	border: 1px solid black;
    border-collapse: separate;
    height: 450px;
    width: 450px;
	td {
	    padding: 15px;
	    border: 1px solid black;
	    width: 33%;
	    height: 33%;
	}
}

